.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.left-content
{
    margin-left: 2%;
}
.right-content
{
    margin-left: 2%;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
